<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SUMMIT - WebDesignCrowd</title>
    

    <!-- Montserrat Sans -->
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400, 700' rel='stylesheet' type='text/css'>        
    <!-- Lato Font -->
    <link href='http://fonts.googleapis.com/css?family=Lato:300,700' rel='stylesheet' type='text/css'>


  </head>

  <body class="blue">
   
    <div id="navbar" class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand scroll" href="#home"><img class="img-responsive" src="assets/logo-completo.png" alt=""></a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a class="scroll hidden" href="#home"></a></li>
            <li><a class="scroll" href="#services">VALORES</a></li>
            <li><a class="scroll" href="#clients">MISIÓN</a></li>
            <li><a class="scroll" href="#portfolio">VISIÓN</a></li>
            <li><a class="scroll" href="#team">EQUIPO</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>    
    <!-- All Page Modals -->      
    <div class="modals">
      <div class="modal fade" id="contact-form" tabindex="-1" role="dialog">
        <div class="wrapper">

          <div class="container text-center">
            <a class="close" data-dismiss="modal" href=""><i class="icon-remove"></i></a>            
            <h1 class="text-center">Contact Us</h1>

            <form role="form">
              <div class="form-group">
                <label for="exampleInputName"><i class="icon-tag"></i></label>
                <input type="text" class="form-control" id="exampleInputName" placeholder="Full Name" required>
                <div class="clearfix"></div>
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1"><i class="icon-inbox"></i></label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email" required>
                <div class="clearfix"></div>
              </div>
              <div class="form-group textarea">
                <label for="exampleInputMessage"><i class="icon-pencil"></i></label>
                <textarea rows="6" class="form-control" id="exampleInputMessage" placeholder="Write Message" required></textarea>
                <div class="clearfix"></div>
              </div>

              <button type="submit" class="btn">SEND MESSAGE</button>
            </form>
          </div>

        </div><!-- /.content -->      
      </div><!-- /.modal -->      
      <div class="modal fade" id="modal1" tabindex="-1" role="dialog">
        <div class="wrapper">
          <img data-dismiss="modal" class="img-responsive" src="assets/sintel-bedroom.png" alt="">
          <h2 class="modal-title"><a href="http://sintel.org">Sintel Bedroom</a></h2>
        </div><!-- /.content -->      
      </div><!-- /.modal -->
      <div class="modal fade" id="modal2" tabindex="-1" role="dialog">
        <div class="wrapper">
          <img data-dismiss="modal" class="img-responsive" src="assets/sintel-snowscape.jpg" alt="">
          <h2 class="modal-title"><a href="http://sintel.org">Sintel Snowscape</a></h2>
        </div><!-- /.content -->      
      </div><!-- /.modal -->
      <div class="modal fade" id="modal3" tabindex="-1" role="dialog">
        <div class="wrapper">
          <img data-dismiss="modal" class="img-responsive" src="assets/sintel-wallpaper-ishtar.jpg" alt="">
          <h2 class="modal-title"><a href="http://sintel.org">Sintel Wallpaper Ishtar</a></h2>
        </div><!-- /.content -->      
      </div><!-- /.modal -->
      <div class="modal fade" id="modal4" tabindex="-1" role="dialog">
        <div class="wrapper">
          <img data-dismiss="modal" class="img-responsive" src="assets/sintel-bamboo-2.jpg" alt="">
          <h2 class="modal-title"><a href="http://sintel.org">Sintel Bamboo</a></h2>
        </div><!-- /.content -->      
      </div><!-- /.modal -->
      <div class="modal fade" id="modal5" tabindex="-1" role="dialog">
        <div class="wrapper">
          <img data-dismiss="modal" class="img-responsive" src="assets/ishtar-alley.png" alt="">
          <h2 class="modal-title"><a href="http://sintel.org">Ishtar Alley</a></h2>
        </div><!-- /.content -->      
      </div><!-- /.modal -->
      <div class="modal fade" id="modal6" tabindex="-1" role="dialog">
        <div class="wrapper">
          <img data-dismiss="modal" class="img-responsive" src="assets/sintel-town-concept.jpg" alt="">
          <h2 class="modal-title"><a href="http://sintel.org">Sintel Town Concept</a></h2>
        </div><!-- /.content -->      
      </div><!-- /.modal -->
    </div><!-- /.modals -->
    
    
    <!-- Home Section -->
    <div id="home" class="section">   
      <div class="row">
        <div class="col-md-1 col-sm-1 col-xs-12 empty"></div>
        <div class="col-md-10 col-sm-10 col-xs-12 full">
          <div class="logo"><img class="img-responsive" src="assets/logo.png" alt=""></div>
          <h1 class="welcome">
            Búsqueda de Talentos<br /><br />
            <span>Buscamos los mejores profesionales del mercado en forma profesional y transparente, priorizando las necesidades de nuestros clientes en forma personalizada.</span>
          </h1> 
          <div class="call-to-action">
            <a class="btn scroll" href="#services"><i class="fa fa-angle-down"></i>CONÓCENOS</a>
          </div>   
        </div>
        <div class="col-md-1 col-sm-1 col-xs-12 empty"></div>
      </div>   
      <div class="parallax"><img src="assets/edificios.png"></div>  
    </div><!-- /.container -->
    <div id="services" class="section gray">
      <div class="container">

        <div class="content">
          <div class="text-center">
            <h2 class="title">Valores</h2>            
          </div>
          <br /><br />
          <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="service">
                <div class="icon-wrapper">
                  <span class="circle"><i class="fa fa-group"></i></span>
                </div>
                <h3>Respeto por las personas</h3>             
              </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="service">
                <div class="icon-wrapper">
                  <span class="circle"><i class="fa fa-suitcase"></i></span>
                </div>
                <h3>Profesionalismo</h3>               
              </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="service">
                <div class="icon-wrapper">
                  <span class="circle"><i class="fa fa-lock"></i></span>
                </div>
                <h3>Confidencialidad</h3>              
              </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="service">
                <div class="icon-wrapper">
                  <span class="circle"><i class="fa fa-eye"></i></span>
                </div>
                <h3>Transparencia</h3>               
              </div>
            </div>
          </div>


        </div><!-- /.content -->
      </div>
    </div>
    <div id="clients" class="section dark">
      <div class="parallax"><img src="assets/night-mountains.png"></div>
      <div class="container">
        <div class="content">
          <div class="text-center">
            <h2 class="title">Misión</h2>            
          </div>
          <div class="row">
            <div class="col-md-2 col-sm-2 col-xs-12"></div>
            <div class="col-md-8 col-sm-8 col-xs-12">
              <p class="description">Buscamos los mejores profesionales del mercado en forma profesional y transparente, priorizando las necesidades de nuestros clientes en forma personalizada
                </p>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-12"></div>
          </div>
        </div>
      </div>
    </div>

    <div id="portfolio" class="section gray">
      <div class="container">  
        <div class="content">
          <div class="text-center">
            <h2 class="title">Visión</h2>            
          </div>
          <div class="row">
            <div class="col-md-2 col-sm-2 col-xs-12"></div>
            <div class="col-md-8 col-sm-8 col-xs-12">
              <p class="description">Ser reconocidos como los mejores buscadores de talentos del mercado.
                </p>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-12"></div>
          </div>

        </div><!-- /.content -->  
        
      
    </div><!-- /.container -->  



    <!-- Meet the Team Section -->
    <div id="team" class="section dark">
      <div class="parallax"><img src="assets/night-mountains.png"></div>
      <div class="container">
        <div class="content">
          <div class="text-center">
            <h2 class="title">Equipo</h2>            
          </div>
          <br /><br />

          <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="wrapper">
                <a href="#" class="portrait-wrapper">                  
                  <img class="portrait" src="assets/portrait1.jpg">
                  <span class="overlay"><span class="valign"></span><i class="fa fa-envelope"></i></span>              
                </a>
                <div class="text-center">
                  <h3>Patricia Bittencourt Campusano</h3>
                  <p>Socia PB Talentos</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="wrapper">
                <a href="#" class="portrait-wrapper">                  
                  <img class="portrait" src="assets/portrait2.jpg">
                  <span class="overlay"><span class="valign"></span><i class="fa fa-envelope"></i></span>              
                </a>
                <div class="text-center">
                  <h3>José Ignacio Infante Montes</h3>
                  <p>Socio PB Talentos</p>
                </div>
              </div>
            </div>
            
          </div>
          
        </div><!-- /.content -->
      </div>
    </div>



    
    <div id="contact" class="section footer-padding">
      <div class="container no-bottom">
        <div class="content">
          <div class="text-center">
            <h2 class="title">Contacto</h2>            
          </div>
        </div>
      </div>
      <div class="container no-pad">
        <div class="content">
          <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
              <p class="icon-description">
                <span class="icon-wrapper">
                  <span class="circle"><i class="fa fa-map-marker"></i></span>
                </span>
                123 Broadway, Manhattan, NY 10282
              </p>
              <p class="icon-description">
                <span class="icon-wrapper">
                  <span class="circle"><i class="fa fa-phone"></i></span>
                </span>
                (123) 123-1234
              </p>
              <p class="icon-description">
                <span class="icon-wrapper">
                  <span class="circle"><i class="fa fa-envelope"></i></span>
                </span>
                WebDesignCrowd@gmail.com
              </p>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <div id="map-canvas"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <h2>Envíanos un mensaje</h2>

        <div class="content">
          <form role="form">
            <div class="form-group">
              <label for="exampleInputName"><i class="icon-tag"></i></label>
              <input type="text" class="form-control" id="exampleInputName" placeholder="Nombre" required>
              <div class="clearfix"></div>
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1"><i class="icon-inbox"></i></label>
              <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email" required>
              <div class="clearfix"></div>
            </div>
            <div class="form-group textarea">
              <label for="exampleInputMessage"><i class="icon-pencil"></i></label>
              <textarea rows="6" class="form-control" id="exampleInputMessage" placeholder="Mensaje" required></textarea>
              <div class="clearfix"></div>
            </div>

            <button type="submit" class="btn color">ENVIAR MENSAJE</button>
          </form>         
        </div>
      </div>
    </div><!-- /.container -->

    <div id="footer" class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-12">
            <p>Desarrollado por <a href="mailto:matiashoyl@gmail.com">Matías Hoyl</a></p>   
          </div>
        </div>
      </div>  
    </div>

    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDAe64UN6rxbgDo8hzspyTofIGXBiNcE_U&sensor=false">
    </script>

  </body>
</html>
