<!DOCTYPE html>
<html lang="en-US" class="no-js">
  <head>

    <!-- ==============================================
    Title and Meta Tags
    =============================================== -->
    <meta charset="utf-8">
    <title>PB Talentos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- ==============================================
    Favicons
    =============================================== -->
    <link rel="shortcut icon" href="assets/favicon.ico">
    <link rel="apple-touch-icon" href="assets/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/apple-touch-icon-114x114.png">
    
    
    <!-- ==============================================
    Fonts
    =============================================== -->
    <link href='http://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic,900' rel='stylesheet' type='text/css'>
    
  </head>
  
  <body data-spy="scroll" data-target="#main-nav" data-offset="200">
  
    <!-- ==============================================
    MAIN NAV
    =============================================== -->
    <div id="main-nav" class="navbar navbar-fixed-top">
      <div class="container">
      
        <div class="navbar-header">
        
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#site-nav">
            <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
          </button>
          
          <!-- ======= LOGO ========-->
          <a class="navbar-brand scrollto" href="#home"></a>
          <!-- <a class="navbar-brand scrollto ir-logo" href="#">JOHN DOE<br><span>UI Designer</span></a> -->
        
        </div>
        
        <div id="site-nav" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="#services" class="scrollto">VALORES</a>
            </li>
            <li>
              <a href="#mision" class="scrollto">MISIÓN</a>
            </li>
            <li>
              <a href="#vision" class="scrollto">VISIÓN</a>
            </li>
            <li>
              <a href="#about" class="scrollto">EQUIPO</a>
            </li>
            <li>
              <a href="#contact" class="scrollto">CONTACTO</a>
            </li>
          </ul>
        </div><!--End navbar-collapse -->
        
      </div><!--End container -->
      
    </div><!--End main-nav -->
    
    <!-- ==============================================
    HEADER
    =============================================== -->
    <header id="home" class="jumbotron">
    
      <div class="container">
        <div class="message-box clearfix">
        
          <div class="left-col">
            <p>Buscamos los mejores talentos del mercado en forma profesional y transparente, priorizando las necesidades de nuestros clientes en forma personalizada.</p>
          </div>  
          
        </div><!--End message-box -->
        
        
      </div><!--End container -->
      
    </header><!--End header -->

    <!-- ==============================================
    SERVICES
    =============================================== -->
    <section id="services">
    
      <div class="container">
      
        <h1 class="section-title scrollimation fade-in">Valores</h1>
        
        <div class="row services">
          <div class="col-md-3 text-center scrollimation fade-right">
            <h2>Respeto por las personas</h2>
          </div>
          <div class="col-md-3 text-center scrollimation fade-right">
            <h2>Profesionalismo</h2>
          </div>
          <div class="col-md-3 text-center scrollimation fade-left">
            <h2>Confidencialidad</h2>
          </div>
          <div class="col-md-3 text-center scrollimation fade-left">
            <h2>Transparencia</h2>
          </div>
        </div><!--End row (top) -->
        
      </div><!--End container -->
      
    </section><!--End services section-->
    
    <!-- ==============================================
    MISION
    =============================================== -->   
    <section id="mision">
    
      <div class="container">
      
        
        <h1 class="section-title scrollimation fade-in">Misión</h1>
        <div class="row">
          <div class="col-sm-10 col-sm-offset-1 scrollimation fade-in">
            
            <p>Buscamos los mejores talentos del mercado en forma profesional y transparente, priorizando las necesidades de nuestros clientes en forma personalizada.</p>
          </div>
        </div><!--End row -->
        
      </div><!--End container -->
      
    </section><!--End about section -->
  
  
    <!-- ==============================================
    PORTFOLIO
    =============================================== -->  
    <section id="vision">
    
      <div class="container">
      
        <h1 class="section-title scrollimation fade-in">Visión</h1>
        
        <div class="row">
        
          <div id="filter-works scrollimation fade-in">
            <p>Ser reconocidos como los mejores buscadores de talentos del mercado.</p>
          </div>
          
        </div><!-- End row -->
        
      </div><!-- End container -->
      
    </section><!-- End contact section --> 

    <section id="about">
    
      <div class="container">
      
        <div class="row">
          <h2 class="section-title scrollimation fade-in">Equipo</h2>
          <div class="col-sm-3 col-sm-offset-1 scrollimation fade-right">
            <img class="img-responsive img-center" src="assets/Patricia.jpg" alt="">
          </div>
          <div class="col-sm-7 col-sm-offset-1 scrollimation fade-left">
            <h1>Patricia Bittencourt Campusano<br /><span>Socia PB Talentos</span></h1>
            <p>Profesional con 18 años de experiencia en la Búsqueda de ejecutivos, siendo pionera en el mercado.  Fundadora  de las consultoras Boyden  y Downing Teal en Chile. Directora de Research de Spencer Stuart por cuatro años y actual Socia de PB Talentos.</p>
            <p>Con experiencia previa en las áreas de finanzas, bancaria y  recursos humanos en reconocidas multinacionales entre las que se destacan  Citibank N.A. y Price Waterhouse.</p>
            <p>Patricia es Contador Auditor de la Universidad Católica de Valparaíso (UCV). </p>
          </div>
        </div><!--End row -->
        <div class="row"><br /><br /></div>
        <div class="row">
          <div class="col-sm-7 col-sm-offset-1 scrollimation fade-right">
            <h1>José Ignacio Infante Montes<br /><span>Socio PB Talentos</span></h1>
            <p>Profesional con 29 años de experiencia en las áreas de RRHH y Finanzas, habiéndose desempeñado como Director de Recursos Humanos en importantes compañías multinacionales entre otras Shell, Claro y BHP Billiton. Ha sido profesor universitario en programas de MBA en el tema de RRHH.</p>
            <p>José Ignacio es Contador Auditor de la Universidad de Santiago (USACH) y posee un Postgrado en International Business en la Universidad de California en Los Angeles (UCLA).</p>
          </div>
          <div class="col-sm-3 col-sm-offset-1 scrollimation fade-left">
            <img class="img-responsive img-center" src="assets/JoseIgnacio.jpg" alt="">
          </div>
        </div><!--End row -->
        
      </div><!--End container -->
      
    </section><!--End about section -->

    <!-- ==============================================
    CONTACT
    =============================================== --> 
    <section  id="contact">
    
      <div class="container">
      
        <h1 class="section-title scrollimation fade-in">Contacto</h1>
        
        <div class="row">
        
          <div class="col-sm-5 contact-info scrollimation fade-right">
            
            <p><i class="fa fa-user"></i> Patricia Bittencourt<br /><i class="fa fa-envelope"></i> pbittencourt@pbtalentos.com</p>
            
            <p><i class="fa fa-user"></i> José Ignacio Infante<br /><i class="fa fa-envelope"></i> jinfante@pbtalentos.com</p>
            
            <p><i class="fa fa-map-marker"></i> El Golf 40, Piso 12, Las Condes, Santiago<br /><i class="fa fa-phone"></i> 562 2594 7530</p>
            
          </div>
          
          <!--=== Contact Form ===-->

          <form id="contact-form" class="col-sm-7 scrollimation fade-left" action="contact.php" method="post" novalidate>
            
            <div class="form-group">
              <label class="control-label" for="contact-name">Nombre</label>
              <div class="controls">
              <i class="fa fa-user"></i>
              <input id="contact-name" name="contactName" placeholder="Nombre" class="form-control input-lg requiredField" type="text" data-error-empty="Please enter your name">
              </div>
            </div><!-- End name input -->
            
            <div class="form-group">
              <label class="control-label" for="contact-mail">Email</label>
              <div class=" controls">
              <i class="fa fa-envelope"></i>
              <input id="contact-mail" name="email" placeholder="Email" class="form-control input-lg requiredField" type="email" data-error-empty="Please enter your email" data-error-invalid="Invalid email address">
              </div>
            </div><!-- End email input -->
            
            <div class="form-group">
              <label class="control-label" for="contact-message">Mensaje</label>
              <div class="controls">
                <i class="fa fa-comment"></i>
                <textarea id="contact-message" name="comments"  placeholder="Mensaje" class="form-control input-lg requiredField" rows="5" data-error-empty="Please enter your message"></textarea>
              </div>
            </div><!-- End textarea -->
            
            <p><button name="submit" type="submit" class="btn btn-theme btn-lg" data-error-message="Error!" data-sending-message="Enviando..." data-ok-message="Mensaje Enviado"><i class="fa fa-location-arrow"></i> Enviar Mensaje</button></p>
            <input type="hidden" name="submitted" id="submitted" value="true" />
            
          </form><!-- End contact-form -->
          
        </div><!-- End row -->
        
      </div><!-- End container -->
      
    </section><!-- End contact section -->
    
    <!-- ==============================================
    FOOTER
    =============================================== --> 
    <footer id="main-footer">
    
      <div class="container">
      
        <div class="row">
        
          <div class="col-sm-6 left-col">
            <img class="img-responsive img-left" src="assets/logo.png" alt="">
          </div>
          
          <div class="col-sm-6 right-col">
            <ul class="footer-nav">
              <li><a class="scrollto" href="#home">Home</a></li>
              <li><a class="scrollto" href="#services">Valores</a></li>
              <li><a class="scrollto" href="#mision">Misión</a></li>
              <li><a class="scrollto" href="#vision">Visión</a></li>
               <li><a class="scrollto" href="#about">Equipo</a></li>
              <li><a class="scrollto" href="#contact">Contacto</a></li>
            </ul>
          </div>
          
        </div><!-- End row -->
        
      </div><!-- End container -->
      
    </footer><!-- End footer -->
    
  </body>
  
</html>